{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <em class="fa fa-bell"></em><span class="label label-danger">{{ notifications|length }}</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                {% if notifications|length > 0 %}
                    {% for notification in notifications %}
                    <li>
                        <div class="dropdown-messages-box">
                            <div class="message-body">
                                <a href="#"><strong>{{ notification.message }}</strong></a>
                                <small class="pull-right"><a href="{{ path('writing.notification', {'notificationId' : notification.id}) }}">Message lu</a></small>
                                <br /><small class="text-muted">{{ notification.updateDate|date('d/m/y à H:i') }}</small></div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    {% endfor %}
                {% else %}
                    <li>
                        <div class="dropdown-messages-box">
                            <div class="message-body" align="center">
                                <strong>Aucune notification</strong>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Liste des histoires </h1>

    {% for story in writing %}
        <div class="col-sm-4 portfolio-item">
            <a href="#{{ story.id }}" class="portfolio-link" data-toggle="modal">
                {% if story.user == app.user.id %}
                    <img src="{{ asset('img/book.svg') }}" class="img-responsive img-centered cursor" alt="">
                {% else %}
                    <img src="{{ asset('img/book.png') }}" class="img-responsive img-centered cursor" alt="">
                {% endif %}
            </a>
            <div class="text-center">{{ story.title}}</div>
            <div class="text-center"><small>Auteur :  {{ story.username }}</small></div>
        </div>

        <div class="example-wrapper modal fade" id="{{ story.id }}" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            <div class="modal-body">
                                {% if story.user == app.user.id %}
                                    {% set formObject = form.createView %}
                                    {{ form_start(formObject) }}
                                    {{ form_row(formObject.id, {'value' : story.id}) }}
                                    <div>
                                        <label for="inputTitle">Titre</label>
                                        {{ form_row(formObject.title, {'value' : story.title}) }}
                                    </div>
                                    <div>
                                        <label for="inputContent">Contenu</label>
                                        {{ form_row(formObject.content, {'value' : story.content}) }}
                                    </div>

                                    <hr>
                                    <button type="button" class="btn btn-lg btn-danger" onclick="return confirm('Confirmer la suppression ?')">
                                        <a style="color:white" href="{{ path('writing.delete', {'userId': story.user , 'storyId' : story.id}) }}">
                                        Supprimer
                                        </a>
                                    </button>

                                    <button type="submit" class="btn btn-lg btn-primary">
                                        Modifier
                                    </button>

                                    {{ form_end(formObject) }}
                                {% else %}
                                    <div align="center">
                                        <h2>{{ story.title }}</h2>
                                        <small>Auteur :  {{ story.username }}</small>
                                    </div>
                                    <div>
                                        <p>{{ story.content|raw }}</p>
                                    </div>
                                {% endif %}
                                <hr>
                                <div>
                                    <h2>Ajouter un commentaire</h2>
                                </div>

                                {% set formComment = formCommentaire.createView %}
                                {{ form_start(formComment) }}
                                {{ form_row(formComment.userId, {'value' : app.user.id}) }}
                                {{ form_row(formComment.writing, {'value' : story.id}) }}

                                <div>
                                    <p>{{ form_row(formComment.commentaire) }}</p>
                                </div>

                                <button type="submit" class="btn btn-lg btn-primary">
                                    Envoyer
                                </button>
                                {{ form_end(formComment) }}
                                <hr>
                                <div>
                                    <h2>Liste des commentaires</h2>
                                </div>
                                {% if story.comments is defined %}
                                    {% for comments in story.comments %}
                                        <div>
                                        <div style="border: 3px solid #A0A0A0; text-align: center;background: #FFFF00;">{{ comments.commentaire|raw }}</div>
                                            <small>Le {{ comments.updateDate|date('d/m/Y à H:i') }} par
                                                {% if comments.userId == app.user.id %}
                                                    Vous
                                                <a href="{{ path('writing.comment_delete', {'commentId' : comments.id}) }}" onclick="return confirm('Confirmer la suppression ?')"><i class="fa fa-close bg-red" title="Supprimer"></i></a>
                                                {% else %}
                                                    {{ comments.username }}
                                                {% endif %}
                                            </small>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ tinymce_init() }}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

{% endblock %}

