{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Votre profil </h1>
    {{ form_start(form) }}
    <div>
        <label for="inputUsername">Username</label>
        {{ form_row(form.username) }}
    </div>
    <div>
        <label for="inputPassword">Mot de passe</label>
        {{ form_row(form.password) }}
    </div>
    <div>
        <label for="inputEmail">Email</label>
        {{ form_row(form.email) }}
    </div>
    <div>
        <label for="inputImage">Image de profil</label>
        {{ form_row(form.image) }}
    </div>
    <div>
        <button class="btn btn-lg btn-primary" type="submit">
            Sauvegarder son profil
        </button>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
    {{ tinymce_init() }}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

{% endblock %}

