{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <em class="fa fa-bell"></em><span class="label label-danger">{{ notifications|length }}</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                {% if notifications|length > 0 %}
                    {% for notification in notifications %}
                        <li>
                            <div class="dropdown-messages-box">
                                <div class="message-body">
                                    <a href="#"><strong>{{ notification.message }}</strong></a>
                                    <small class="pull-right"><a href="{{ path('writing.notification', {'notificationId' : notification.id}) }}">Message lu</a></small>
                                    <br /><small class="text-muted">{{ notification.updateDate|date('d/m/y à H:i') }}</small></div>
                            </div>
                        </li>
                        <li class="divider"></li>
                    {% endfor %}
                {% else %}
                    <li>
                        <div class="dropdown-messages-box">
                            <div class="message-body" align="center">
                                <strong>Aucune notification</strong>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Votre profil </h1>
    {{ form_start(form) }}
    <div>
        <label for="inputUsername">Username</label>
        {{ form_row(form.username) }}
    </div>
    <div>
        <label for="inputPassword">Mot de passe</label>
        {{ form_row(form.password) }}
    </div>
    <div>
        <label for="inputEmail">Email</label>
        {{ form_row(form.email) }}
    </div>
    <div>
        <label for="inputImage">Image de profil</label>
        {{ form_row(form.image) }}
    </div>
    <div class="example-wrapper">
        <button class="btn btn-lg btn-primary" type="submit">
            Sauvegarder son profil
        </button>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
    {{ tinymce_init() }}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

{% endblock %}

