{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Gestion des utilisateurs</h1>
    <h2>Liste des utilisateurs</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
    {% for user in users %}
        <thead>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td align="center">{% if user.role == 'user' %}<a href="{{ path('admin.delete_user', {'userId' : user.id}) }}" onclick="return confirm('Confirmer la suppression ?')"><i class="fa fa-trash" title="Supprimer l'utisateur"></i></a>{% endif %}</td>
        </tr>

    {% endfor %}
    </table>
    <h2>Liste des histoires</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for writing in writings %}
        <thead>
        <tr>
            <td>{{ writing.id }}</td>
            <td>{{ writing.title }}</td>
            <td>{{ writing.username }}</td>
            <td align="center"><a href="{{ path('admin.delete_writing', {'storyId' : writing.id}) }}" onclick="return confirm('Confirmer la suppression ?')"><i class="fa fa-trash" title="Supprimer l'histoire"></i></a></td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}