{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        <div>
            <label for="inputUsername">Username</label>
            {{ form_row(form.username) }}
        </div>
        <div>
            <label for="inputPassword">Password</label>
            {{ form_row(form.password) }}
        </div>
        <div>
            <label for="inputEmail">Email</label>
            {{ form_row(form.email) }}
        </div>
        <div>
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
